{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Don{% endblock %}

{% block body %}
    <div class="col-12">
        <h1 class="page-title"><i class="fas fa-hand-holding-heart"></i> Nous soutenir :</h1>

        <div class="row">
            <div class="col-12 col-md-4 mb-4 ">
                <div class="card border-light">
                    <div class="card-body text-center">
                        <div class="text-black">
                            <h5 class="font-weight-bold">Pourquoi nous soutenir ?</h5>
                        </div>
                        <img class="w-25 img-fluid mx-auto my-3 rounded-circle"
                             src="{{ asset('assets/Logo_Odin.svg') }}" alt="Logo du site">
                        <p class="px-2">Maintenir ce site me demande du temps vos dons me motivent à continuer.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-8 mb-4">
                <div class="card mb-0">
                    <div class="row card-body text-center">
                        {% for support in supports %}
                        <div class="col-md-6 mb-4">
                            <div class="accordion w-100" id="accordion1">
                                <div class="card shadow">
                                    <div class="card-header" id="heading1">
                                        <a role="button" href="#collapse-{{ support.value.slug }}" data-toggle="collapse" data-target="#collapse-{{ support.value.slug }}" aria-expanded="false" aria-controls="collapse-{{ support.value.slug }}">
                                            <strong><img src="{{ asset('uploads/values/' ~ support.value.picture ) }}"
                                                         alt="Logo {{ support.value.name }}"  width="25" height="25">
                                                {{ support.value.name }}</strong>
                                        </a>
                                    </div>
                                    <div id="collapse-{{ support.value.slug }}" class="collapse" aria-labelledby="heading1" data-parent="#accordion1">
                                        <div class="card-body">{{ support.adresse }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
