{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>

                    <div class="card-body">
                        <form method="post" class="form-signin">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% for flashEmailValidateSucess in app.flashes('successValidate') %}
                                <div class="alert alert-success text-center" role="alert">{{ flashEmailValidateSucess }}</div>
                            {% endfor %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <h5 class="card-title text-center">Connexion</h5>

                            <div class="form-label-group">
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control" autocomplete="email" placeholder="e-mail" required autofocus>
                                <label for="inputEmail">e-mail</label>

                            </div>

                            <div class="form-label-group">
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                   autocomplete="current-password" placeholder="Mot de passe" required>
                                <label for="inputPassword">Mot de passe</label>

                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            <div class="custom-control custom-checkbox mb-3">
                                <input id="customCheck1" class="custom-control-input" type="checkbox" name="_remember_me">
                                <label class="custom-control-label" for="customCheck1">Remember me</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Connexion</button>

                            <a class="d-block text-center mt-2 small" href="{{ path('app_register') }}"><i
                                        class="fas fa-user-check"></i> Pas de compte ? Inscription</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
