{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Inscription{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>

                    <div class="card-body">

                        {% for flashError in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger text-center" role="alert">{{ flashError }}</div>
                        {% endfor %}

                        {% for flashEmailSend in app.flashes('Sendemail') %}
                            <div class="alert alert-success text-center" role="alert">{{ flashEmailSend }}</div>
                        {% endfor %}

                        <h5 class="card-title text-center">Inscription</h5>

                        {{ form_start(registrationForm, {'attr': {'class': 'form-signin'}}) }}

                        <div class="form-label-group">
                            {{ form_widget(registrationForm.pseudo, {'attr': {'class': 'form-control', 'id': 'inputUsername'}}) }}
                            <label for="inputUsername">Pseudo</label>
                        </div>

                        <div class="form-label-group">
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'id': 'inputEmail'}}) }}
                            <label for="inputEmail">E-mail</label>
                        </div>

                        <div class="form-label-group">
                            {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control', 'id': 'inputPassword'}}) }}
                            <label for="inputPassword">Mot de passe</label>
                        </div>

                        <div class="form-label-group">
                            {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control', 'id': 'inputConfirmPassword'}}) }}
                            <label for="inputConfirmPassword">Confirmer Mot de passe</label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Inscription
                        </button>
                        {{ form_end(registrationForm) }}
                        <a class="d-block text-center mt-2 small" href="{{ path('app_login') }}"><i
                                    class="fas fa-sign-in-alt"></i> Deja un compte ? Connexion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
