{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Réinitialisation réussie !{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="wrapper">
        <div class="row align-items-center h-100">
            <form class="col-lg-3 col-md-4 col-10 mx-auto text-center">
                <div class="mx-auto text-center my-4">
                    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="{{ path('index') }}">
                        <img id="logo" class="navbar-brand-img brand-md" src="{{ asset('assets/Logo_Odin.svg') }}"
                             alt="Logo du site">
                    </a>
                    <h4 class="my-3">Réinitialisation du mot de passe réussie !</h4>
                </div>
                <div class="alert alert-success" role="alert">
                    S'il existe un compte correspondant à votre e-mail, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                    Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                </div>
                <a href="{{ path('index') }}" class="btn btn-lg btn-primary btn-block">Accueil</a>

                <div class="alert alert-warning mt-3" role="alert">
                    Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou réessayer
                </div>
                <a href="{{ path('app_forgot_password_request') }}" class="btn btn-lg btn-primary btn-block">Réessayer</a>
            </form>
        </div>
    </div>
</div>

{#    <p>#}
{#        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.#}
{#        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.#}
{#    </p>#}
{#    <p>If you don't receive an email please check your spam folder or #}
{#        <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>#}
{% endblock %}
