{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Réinitialisez votre mot de passe{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="wrapper">
            <div class="row align-items-center h-100">
                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                {{ form_start(requestForm, {'attr': {'class': 'col-lg-3 col-md-4 col-10 mx-auto text-center'}}) }}
                <div class="mx-auto text-center my-4">
                    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="{{ path('index') }}">
                        <img id="logo" class="navbar-brand-img brand-md" src="{{ asset('assets/Logo_Odin.svg') }}"
                             alt="Logo du site">
                    </a>
                    <h2 class="my-3">Réinitialisez votre mot de passe</h2>
                </div>
                <p class="text-muted">Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser
                    votre mot de passe.</p>
                <div class="form-group">
                    <label for="inputEmail" class="sr-only">Email address</label>
                    {{ form_widget(requestForm.email, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Adresse e-mail'}}) }}

                    {# <input type="email" id="inputEmail" class="form-control form-control-lg" placeholder="Email address" required="" autofocus=""> #}
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Réinitialiser le mot de passe</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>

    {# {% for flashError in app.flashes('reset_password_error') %} #}
    {# <div class="alert alert-danger" role="alert">{{ flashError }}</div> #}
    {# {% endfor %} #}
    {# <h1>Réinitialisez votre mot de passe</h1> #}

    {# {{ form_start(requestForm) }} #}
    {# {{ form_row(requestForm.email) }} #}
    {# <div> #}
    {# <small> #}
    {# Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe. #}
    {# </small> #}
    {# </div> #}

    {# <button class="btn btn-primary">Envoyer un e-mail de réinitialisation de mot de passe</button> #}
    {# {{ form_end(requestForm) }} #}
{% endblock %}
