{% extends 'base.html.twig' %}

{% block title %}Value{% endblock %}

{% block body %}
    <h1>Value</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ value.id }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ value.picture }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ value.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ value.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('value_index') }}">back to list</a>

    <a href="{{ path('value_edit', {'id': value.id}) }}">edit</a>

    {{ include('value/_delete_form.html.twig') }}
{% endblock %}
