<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('assets/Logo_Odin.svg') }}">
    <title>{% block title %}Odin59 | {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/simplebar.css') }}">
        <!-- Fonts CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
              rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
              rel="stylesheet">
        <!-- Icons CSS -->
        <link rel="stylesheet" href="{{ asset('css/feather.css') }}">
        <!-- Date Range Picker CSS -->
        <link rel="stylesheet" href="{{ asset('css/daterangepicker.css') }}">
        <!-- App CSS -->
        <link rel="stylesheet" href="{{ asset('css/app-light.css') }}" id="lightTheme">
        <link rel="stylesheet" href="{{ asset('css/app-dark.css') }}" id="darkTheme" disabled>
    {% endblock %}

</head>
<body class="vertical  light  ">
<div class="wrapper">
    {{ render(controller('App\\Controller\\LayoutController::_header')) }}
    {{ render(controller('App\\Controller\\LayoutController::_left')) }}

    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row">
                {% block body %}{% endblock %}

            </div>
        </div>
    </main>
    {{ render(controller('App\\Controller\\LayoutController::_footer')) }}
    {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/moment.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/simplebar.min.js') }}"></script>
        <script src='{{ asset('js/daterangepicker.js') }}'></script>
        <script src='{{ asset('js/jquery.stickOnScroll.js') }}'></script>
        <script src="{{ asset('js/tinycolor-min.js') }}"></script>
        <script src="{{ asset('js/config.js') }}"></script>
        <script src="{{ asset('js/apps.js') }}"></script>
    {% endblock %}
</div>
</body>
</html>
